include LICENSE
include Makefile
include manage.py
include MANIFEST.in
include tox.ini
include *.md
include *.rst
graft django_extensions
graft docs
graft tests
global-exclude __pycache__
global-exclude *.py[co]
